PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DB=tst_isp
JWT_SECRET=change-me
ROUTER_SECRET_KEY=change-me-32-bytes-minimum........
RADIUS_DSN=radius:radius@tcp(127.0.0.1:3306)/radius
RADIUS_REQUIRED=false
RADIUS_TOTAL_LIMITS=
RADIUS_WALLED_GARDEN_FILTER_ID=
MIKROTIK_COA_ADDR=127.0.0.1:3799
MIKROTIK_COA_SECRET=change-me
ADMIN_EMAIL=owner@example.com
ADMIN_PASSWORD=change-me
SUBISP_EMAIL=justus@gmail.com
SUBISP_PASSWORD=Test1234
SUBISP_NAME=Sample Sub-ISP
DARAJA_AUTH_URL=https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
DARAJA_STK_URL=https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest
DARAJA_CONSUMER_KEY=9LIhjcaKVW18twftwETcSONo0pcKu8rcJXTOAEtlsexW2zFA
DARAJA_CONSUMER_SECRET=NSD0LqYPGv2c47N6SKau0ARG0oZeCVIuPOcyhJizqZWGCbYYRhnmYiqWbr3xQ7G3
DARAJA_SHORTCODE=174379
DARAJA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
DARAJA_CALLBACK_URL=https://<your-ngrok-subdomain>.ngrok-free.app/api/mpesa/callback
DARAJA_ACCOUNT_REF=USER102
DARAJA_TRANSACTION_DESC=INTERNET-0712345678 ACC4501
DARAJA_TRANSACTION_TYPE=CustomerPayBillOnline
